/* Elliot Mackenzie Bruce, (ID) , Web Technologies Coursework CSS Style Sheet */
/* Colour ID Reference Table
    Backgrounds (Dark Navy) -       #011627
    Something (Bright Red) - -      #F71735
    Something (Cyan Bright Blue) -  #41EAD4
    Text (White) -                  #FDFFFC
    Something (Yellow) -            #FF9F1C
*/





/* ----- Navigation Bar Image CSS SETTINGS ----- */

/* Sets MArgins and Font Settings for NavBar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tahoma', sans-serif;
}

/* Body Background colouring set */
body {
    background: #011627;                            /* Same as HTML Tag */
    min-height: 200vh;
}

/* Sets info for header tag */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;                               /* Animation time */
    padding: 40px 100px;
    z-index: 100000;                                /* Forces infront of other elelments */
}

/* Sets info for header tag WHEN STICKY */
header.sticky {
    padding: 5px 100px;
    background: #FDFFFC;
}

/* Sets info for header logo, on left */
header .logo {
    position: relative;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

/* Sets info for list */
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sets info for list item */
header ul li {
    position: relative;
    list-style: none;
}

/* Sets info for list item */
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.5s;
    padding: 10px;
}

/* Changes list item appearence WHEN HOVERED OVER */
header ul li a:hover {
    background-color: #F71735;
    color: #FDFFFC;
    background-color: #F71735;
    border-radius: 15px;
    border: 0px solid #F71735;
}

/* A Tag added for the current HTML page to change the list item appearance */
header a.active {
    background-color: #F71735;
    color: #FDFFFC;
    background-color: #F71735;
    border-radius: 15px;
    border: 0px solid #F71735;
}

/* Area between top of page and rest fo page */
.banner {
    position: relative;
    width: 100%;
    height: 12vh;
    background-size: cover;                         /* Space from Top of page to page content (nav bar when top of page background space) */
}

/* Sets info of List item WHEN STICKY */
header.sticky ul li a {
    color: #000;
}

/* Sets info of logo and header WHEN STICKY */
header.sticky .logo,
header.sticky  {
    padding: 5px 100px;
    color: #000;
}
/* ----- END ----- */





/* ----- TEXT CSS SETTINGS ----- */

/* Sets Entire page scaling margins */
.content {
  max-width: 1000px;
  margin: auto;
}

/* Sets the h1 text deafult settings */
h1 {
    color: #FDFFFC;
    font-size: 60px;
    text-align: center;
    font-family: Tahoma;
    padding: 12px;
}

/* Sets the h2 text deafult settings */
h2 {
    color: #FDFFFC;
    font-size: 35px;
    text-align: center;
    font-family: Tahoma;
}

/* Sets the h3 text deafult settings */
h3 {
    color: #FDFFFC;
    font-size: 20px;
    text-align: center;
    font-family: Tahoma;
    padding: 12px;
    background-color: #011627;
    border-radius: 20px;
}

/* Sets the html tag (entire page) deafult settings */
html {
    background-color: #011627;
}

/* Sets the paragraoh deafult settings */
p {
    font-family: Tahoma;
    font-size: 20px;
    color: #FDFFFC;
}

/* Sets the paragraoh deafult settings */
#Centre {
    font-family: Tahoma;
    font-size: 20px;
    color: #FDFFFC;
    text-align: center;
}
/* ----- END ----- */





/* ----- IMAGE CSS SETTINGS ----- */

/* Header bar logo characteristics */
#HeadIMG {
    max-width: 100px;
    max-height: 150px;
    float: left;
    display: block;
    background-color: #F71735;
    border-radius: 15px;
    border: 8px solid #F71735;
}

/* FlexBox 1 img - Located on Home.html */
#FlexB-IMG-1 {
    max-width: 400px;
    max-height: 400px;
    background-color: #F71735;
    border-radius: 15px;
}

/* FlexBox 2 img - Located on Home.html */
#FlexB-IMG-2 {
    max-width: 400px;
    max-height: 400px;
    background-color: #F71735;
    border-radius: 15px;
    border: 8px solid #F71735;
}

/* FlexBox 3 img - Located on Home.html */
#FlexB-IMG-3 {
    max-width: 450px;
    max-height: 300px;
    background-color: #F71735;
    border-radius: 15px;
}

/* FlexBox 4 img - Located on Home.html */
#FlexB-IMG-4 {
    max-width: 450px;
    max-height: 300px;
    background-color: #F71735;
    border-radius: 15px;
    border: 8px solid #F71735;
}

/* FlexBox 5 img - Located on Facts.html */
#FlexB-IMG-5 {
    max-width: 450px;
    max-height: 300px;
    background-color: #FDFFFC;
    border-radius: 15px;
    border: 8px solid #F71735;
}
/* ----- END ----- */






/* ----- FLEXBOX CSS SETTINGS ----- */

/* Flexbox area/zone info */
.flex-container {
    display: flex;                                  /* Designate flexbox */
    background-color: 011627;                       /* Entire flexbox Background colour */
    justify-content: center;                        /* Ensure that ALl elelments are cnetred for scaling on different display sizes */
    align-items: center;                            /* Cntinues scaling */
}

/* Flexbox divisions and their assigned tag info */
.flex-container > div {
    background-color: #011627;                      /* Background colour of each DIV */
    margin: 10px;                                   /* Space between div boxes */
    padding: 20px;                                  /* Space around div box */
    font-size: 30px;                                /* Size of text */
}
/* ----- END ----- */





/* ----- Paralex Image CSS SETTINGS ----- */

/* Allign font over image */
.parallax {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Allign font over image */
.parallax-title {
    color: #FDFFFC;
    font-size: 60px;
    position: relative;
    z-index: 2;
    background-color: #011627;
    border-radius: 15px;
    border: 0px solid;
}
/* ----- END ----- */
















/* ----- Quiz Entry Page CSS ----- */

/* Attributes for box containing the buttons */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 100px;
}

/* Background (White) Should over rule * css */
.container > * {
    width: 100%;
}

/* Flexbox (column) setting its direction to vertical (on top of each other) */
.flex-column {
  display: flex;
  flex-direction: column;
}

/* Allign items to centre */
.flex-center {
  justify-content: center;
  align-items: center;
}

/* Allign centre */
.justify-center {
  justify-content: center;
}

/* Allign text centre */
.text-center {
  text-align: center;
}

/* Hides stuff (duh) */
.hidden {
  display: none;
}

/* Button Specific Styling */
.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #FDFFFC;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #FDFFFC;
    border-radius: 15px;
}

/* Button Styling when moused over */
.btn:hover {
    background-color: #F71735;
    color: #FDFFFC;
    background-color: #F71735;
    border-radius: 15px;
    border: 2px solid #F71735;
}