/* Elliot Mackenzie Bruce, (ID) , Web Technologies Coursework, CSS for Quiz ONLY */
/* Colour ID Reference Table
    Backgrounds (Dark Navy) -       #011627
    Something (Bright Red) - -      #F71735
    Something (Cyan Bright Blue) -  #41EAD4
    Text (White) -                  #FDFFFC
    Something (Yellow) -            #FF9F1C

    Question GREEN (Correct) -      #04A777
    Question RED (Wrong) -          #F71735
    Question Blue (Hover) -         #4CC9F0
    Question (ABCD) -               #4361EE

    (Created at coolors.co)

    Use of rem found to be better for cross device scaling and thus used in this css
*/





/* ----- GENERAL QUIZ CSS ----- */
/* Overall Page Settings */
:root {
    background-color: #011627;
    font-size: 62.5%;
}

/* Overall Page Settings */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}





/* ----- Text Quiz CSS ----- */
h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
    color: #011627;
    text-align: center;
    font-family: Tahoma;
}

h1 {
    font-size: 5.4rem;
    color: #011627;
    margin-bottom: 5rem;
    font-family: Tahoma;
    
}

h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
    font-family: Tahoma;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
    font-family: Tahoma;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
    font-family: Tahoma;
}

p {
    color: #011627;
    font-family: Tahoma;
}





/* ----- QUIZ BOX CSS (Copied from mains ite ins ome cases, some may be redundant) ----- */
/* Where the container for the quiz should be on the page (centre) */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

/* Background (White) Should over rule * css */
.container > * {
    width: 100%;
    background-color: #FDFFFC;
    border-radius: 8px;
    padding: 2rem;
}

/* Flexbox (column) setting its direction to vertical (on top of each other) */
.flex-column {
    display: flex;
    flex-direction: column;
}

/* Allign items to centre */
.flex-center {
    justify-content: center;
    align-items: center;
}

/* Allign centre */
.justify-center {
    justify-content: center;
}

/* Allign text centre */
.text-center {
    text-align: center;
}

/* Hides stuff (duh) */
.hidden {
    display: none;
}





/* ----- Quiz Box Dislay CSS SETTINGS ----- */
/* The Box which an answer is contained in */
.choice-container {
    display: flex;                                                    /* Flex Box Display */
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    background-color: white;
    border-radius: 15px;
    border: 5px solid #011627;
}

/* What happen when a answer box is hovered over */
.choice-container:hover {
    background-color: #F71735;
    color: #FDFFFC;
    background-color: #4CC9F0;
}

/* Answer (ABCD) Box */
.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #4361EE;
    color: #FDFFFC;
    border-radius: 8px;
}

/* Box which answer TEXT is displayed in */
.choice-text {
    padding: 1.5rem;
    width: 100%;
}

/* Correct answer overlay */
.correct {
    background-color: #04A777;
}

/* Incorrecy answer overlay */
.incorrect {
    background-color: #F71735;
}





/* ----- LIVE SCORE CSS ----- */
/* On right of progress bar using flexboxes */
#LiveScore {
    display: flex;
    justify-content: space-between;
}

/* Question and score text */
.LS-prefix {
    text-align: center;
    font-size: 2rem;
}

/* Bar normal settings */
#progressBar {
    width: 65rem;
    height: 4rem;
    border: 0.3rem solid #011627;
    background-color: #F71735;
    margin-top: 1.5rem;
}

/* Bar overlay (green prgress showing to user) */
#progressBarFull {
    height: 3.4rem;
    background-color: #04A777;
    width: 0%;
}




/* ----- END FORM CSS ---- */
/* Gneral input box styling */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* When windows clicked on */
input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: solid #011627;
}





/* ----- Highscres CSS Settings ----- */
#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
    border: 1rem solid #011627;
    text-decoration: none;
    color: #011627;
    border-radius: 15px;
    background-color: #FDFFFC;
    padding: 30px;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    border: 0.5rem solid #011627;
    text-decoration: none;
    color: #011627;
    border-radius: 15px;
    font-weight: 600;
}


/* Button Specific Styling FOR END.html */
.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #FDFFFC;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #FDFFFC;
    border-radius: 15px;
    background-color: #011627;
}

/* Button Styling when moused over */
.btn:hover {
    background-color: #F71735;
    color: #FDFFFC;
    background-color: #F71735;
    border-radius: 15px;
}