/* Elliot Mackenzie Bruce, (ID) , Web Technologies Coursework CSS Style Sheet For Quiz */
/* Colour ID Reference Table
    Backgrounds (Dark Navy) -       #011627
    Something (Bright Red) - -      #F71735
    Something (Cyan Bright Blue) -  #41EAD4
    Text (White) -                  #FDFFFC
    Something (Yellow) -            #FF9F1C

    Question GREEN (Correct) -      #04A777
    Question RED (Wrong) -          #F71735
    Question Blue (Hover) -         #4CC9F0
    Question (ABCD) -               #4361EE

    (Created at coolors.co)
*/

/* Button Specific Styling */
.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #FDFFFC;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #FDFFFC;
    border-radius: 15px;
    background-color: #011627;
}

/* Button Styling when moused over */
.btn:hover {
    background-color: #F71735;
    color: #FDFFFC;
    background-color: #F71735;
    border-radius: 15px;
}