/* Elliot Mackenzie Bruce, (ID) , Web Technologies Coursework CSS Style Sheet For Quiz */
/* Colour ID Reference Table
    Backgrounds (Dark Navy) -       #011627
    Something (Bright Red) - -      #F71735
    Something (Cyan Bright Blue) -  #41EAD4
    Text (White) -                  #FDFFFC
    Something (Yellow) -            #FF9F1C

    Question GREEN (Correct) -      #04A777
    Question RED (Wrong) -          #F71735
    Question Blue (Hover) -         #4CC9F0
    Question (ABCD) -               #4361EE

    (Created at coolors.co)
*/





/* ----- Quiz Box Dislay CSS SETTINGS ----- */

/* The Box which an answer is contained in */
.choice-container {
    display: flex;                                                    /* Flex Box Display */
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    background-color: white;
    border-radius: 15px;
    border: 5px solid #011627;
}

/* What happen when a answer box is hovered over */
.choice-container:hover {
    background-color: #F71735;
    color: #FDFFFC;
    background-color: #4CC9F0;
}

/* Answer (ABCD) Box */
.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #4361EE;
    color: #FDFFFC;
    border-radius: 8px;
}

/* Box which answer TEXT is displayed in */
.choice-text {
    padding: 1.5rem;
    width: 100%;
}

/* Correct answer overlay */
.correct {
    background-color: #04A777;
}

/* Incorrecy answer overlay */
.incorrect {
    background-color: #F71735;
}






/* ----- LIVE SCORE CSS ----- */
#LiveScore {
  display: flex;
  justify-content: space-between;
}

.LS-prefix {
  text-align: center;
  font-size: 2rem;
}

.LS-main-text {
  text-align: center;
}